<a href="/users/edit/0">Create user</a>
<div>
  <input id="name" [(ngModel)]="searchQuery" placeholder="Search" />
  <button class="button" (click)="getUsers()">Search</button>
</div>
<div *ngIf="dataSource.data">
  <table matSort (matSortChange)="sortData($event)" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full name </th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Roles </th>
      <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td *matCellDef="let row">
        <button mat-button (click)="deleteRow(row)">Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>

  <mat-paginator [length]="pagingOptions.totalCount" [pageSize]="pagingOptions.pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event)"></mat-paginator>
</div>
