<div>
  <h2><span>{{currentUser.fullName | titlecase}}</span> Create/Edit user</h2>
  <div>
    <label>id: </label>{{currentUser.id}}</div>
  <div>
    <label for="name">Email: </label>
    <input id="name" [(ngModel)]="currentUser.email" placeholder="email" />
  </div>

  <div>
    <label for="name">Full name: </label>
    <input id="name" [(ngModel)]="currentUser.fullName" placeholder="name" />
  </div>
  <div>
    <label for="name">Personal Id: </label>
    <input id="name" [(ngModel)]="currentUser.personalId" placeholder="id" />
  </div>
  <div>
    <label for="name">Roles: </label>
    <div *ngFor="let option of roleOptions">
      <label>
        <input type="checkbox" name="options" value="{{option.value}}" [(ngModel)]="option.checked" />
        {{option.name}}
      </label>
    </div>
  </div>
  <button (click)="save()">Save</button>
  <button (click)="cancel()">Cancel</button>
</div>
