<mat-card>
  <div>
    <h2><span>{{currentUser.fullName | titlecase}}</span> Create/Edit user</h2>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input required email matInput id="email" [formControl]="formGroup.controls.email" [(ngModel)]="currentUser.email"
        placeholder="email" />
      <mat-error *ngIf="formGroup.controls.email.invalid">{{getErrorMessage(formGroup.controls.email )}}</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Full name</mat-label>
      <input matInput id="fullName" [(ngModel)]="currentUser.fullName" placeholder="name" />
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Personal Id</mat-label>
      <input matInput id="personalId" [(ngModel)]="currentUser.personalId" placeholder="id" />
    </mat-form-field><br>
    <div>
      <label for="name">Roles: </label>
      <div *ngFor="let option of roleOptions">
        <mat-checkbox type="checkbox" (change)="checkboxChanged()" name="options" value="{{option.value}}"
          [(ngModel)]="option.checked"> {{option.name}}</mat-checkbox>
      </div>
    </div>
    <div *ngIf="currentUser.roles.includes('Patient') ">
      <mat-form-field>
        <mat-label>SSN</mat-label>
        <input matInput id="ssn" [(ngModel)]="currentUser.ssn" placeholder="ssn" />
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Medical note</mat-label>
        <input matInput id="medicalNote" [(ngModel)]="currentUser.medicalNote" placeholder="medicalNote" />
      </mat-form-field><br>
    </div>

    <div *ngIf="currentUser.roles.includes('Doctor') ">
      <mat-form-field>
        <mat-label>Skills</mat-label>
        <mat-select required [formControl]="selectedSkillsformControl" multiple>
          <mat-option *ngFor="let skill of skillOptions" [value]="skill.value">{{skill.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="!selectedSkillsformControl.hasError('required')">
          {{getErrorMessage(selectedSkillsformControl)}}</mat-error>
      </mat-form-field>
      <p>Work hours</p>
      <mat-form-field>
        <mat-label>Start time</mat-label>
        <input matInput id="startTime" [(ngModel)]="currentUser.workTime && currentUser.workTime.startTime"
          placeholder="startTime" />
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>End time</mat-label>
        <input matInput id="endTime" [(ngModel)]="currentUser.workTime && currentUser.workTime.endTime"
          placeholder="endTime" />
      </mat-form-field><br>
    </div>

    <button mat-button color="Primary" (click)="save()" [disabled]="!formGroup.valid">Save</button>
    <button mat-button color="warn" (click)="cancel()">Cancel</button>
  </div>

</mat-card>
