<div>
  <h2><span>{{currentUser.fullName | titlecase}}</span> Create/Edit user</h2>
  <div>
    <label>id: </label>{{currentUser.id}}</div>
  <div>
    <label for="name">Email: </label>
    <input id="name" [(ngModel)]="currentUser.email" placeholder="email" />
  </div>

  <div>
    <label for="name">Full name: </label>
    <input id="name" [(ngModel)]="currentUser.fullName" placeholder="name" />
  </div>
  <div>
    <label for="name">Personal Id: </label>
    <input id="name" [(ngModel)]="currentUser.personalId" placeholder="id" />
  </div>
  <div>
    <label for="name">Roles: </label>
    <div *ngFor="let option of roleOptions">
      <label>
        <input type="checkbox" (change)="checkboxChanged()" name="options" value="{{option.value}}"
          [(ngModel)]="option.checked" />
        {{option.name}}
      </label>
    </div>
  </div>

  <div *ngIf="selectedRoles.includes('Patient')">
    <label for="ssn">SSN: </label>
    <input id="ssn" [(ngModel)]="currentUser.ssn" placeholder="ssn" />
  </div>
  <div *ngIf="selectedRoles.includes('Patient')">
    <label for="medicalNote">Medical note: </label>
    <input id="medicalNote" [(ngModel)]="currentUser.medicalNote" placeholder="medicalNote" />
  </div>

  <div *ngIf="selectedRoles.includes('Doctor') ">
    <mat-form-field>
      <mat-label>Skills</mat-label>
      <mat-select [formControl]="formControl" multiple [(value)]="selectedSkills">
        <mat-option *ngFor="let skill of skillOptions" [value]="skill.value">{{skill.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>Work hours</p>
    <div>
      <label for="startTime">Start time: </label>
      <input id="startTime" [(ngModel)]="currentUser.workTime.startTime" placeholder="startTime" />
    </div>
    <div>
      <label for="endTime">End time: </label>
      <input id="endTime" [(ngModel)]="currentUser.workTime.endTime" placeholder="endTime" />
    </div>
  </div>

  <button (click)="save()">Save</button>
  <button (click)="cancel()">Cancel</button>
</div>
